:root {
  --basic: #2b2a29;
  --basic-black: #000000;
  --basic-black-transparent-07: rgba(0, 0, 0, 0.7);
  --basic-black-transparent-05: rgba(0, 0, 0, 0.5);
  --basic-transparent-04: rgba(43, 42, 41, 0.4);
  --white: #ffffff;
  --white-transparent-03: rgba(255, 255, 255, 0.3);
  --pink-100: #f8cedf;
  --pink-200: #e4c0c1;
  --pink-300: #f790b9;
  --pink-350: #f878ab;
  --pink-400: #f86ba4;
  --pink-470: #e0085f;
  --pink-500: #e40773;
  --pink-500-transparent-03: rgba(228, 7, 115, 0.3);
  --pink-500-transparent-07: rgba(228, 7, 115, 0.7);
  --green-500: #7da329;
  --green-500-transparent-06: rgba(125, 163, 41, 0.6);
  --grey-50: #565656;
  --grey-70: #3a3939;
  --grey-200: #f8f7f4;
  --grey-300: #d3d3d2;
  --grey-320: #cacac7;
  --grey-350: #999999;
}

@font-face {
  font-family: "PFBeauSansPro";
  src: local("PFBeauSansPro-light"), url("../font/PFBeauSansPro-light.woff2") format("woff2"),
    url("../font/PFBeauSansPro-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "PFBeauSansPro";
  src: local("PFBeauSansPro-regular"), url("../font/PFBeauSansPro-regular.woff2") format("woff2"),
    url("../font/PFBeauSansPro-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PFBeauSansPro";
  src: local("PFBeauSansPro-semibold"), url("../font/PFBeauSansPro-semibold.woff2") format("woff2"),
    url("../font/PFBeauSansPro-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "PFBeauSansPro";
  src: local("PFBeauSansPro-bold"), url("../font/PFBeauSansPro-bold.woff2") format("woff2"),
    url("../font/PFBeauSansPro-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PFBeauSansPro";
  src: local("PFBeauSansPro-black"), url("../font/PFBeauSansPro-black.woff2") format("woff2"),
    url("../font/PFBeauSansPro-black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
      clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.clear-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page {
  height: 100%;
}

.page-body {
  position: relative;
  min-width: 1200px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content 1fr min-content;
  grid-template-areas:
  "header"
  "main"
  "footer";
  min-height: 100%;
  min-width: 1200px;
  font-family: "PFBeauSansPro", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic);
}

.main-header {
  grid-area: header;
  position: relative;
}

.main-header::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 12px;
  background-color: var(--green-500);
  z-index: 2;
}

.login-form,
.search-form,
.in-basket {
  display: none;
}

.bottom-submenu-list,
.catalog-list {
  display: none;
}

.inner-container {
  width: 1160px;
  margin: 0 auto;
}

.top-navigation-container,
.user-menu-list,
.main-navigation,
.site-menu-list,
.bottom-menu-list,
.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.top-navigation {
  background-color: var(--pink-100);
  font-size: 14px;
  line-height: 16px;
}

.top-navigation-container {
  height: 50px;
}

.main-header a {
  color: var(--basic);
}

.index-page-link {
  display: block;
  background-image: url("../img/logotype.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 292px;
  height: 93px;
  align-self: flex-start;
  margin-top: 9px;
}

.header-top-phone {
  display: block;
  position: relative;
  padding-left: 40px;
  font-weight: 700;
}

.header-top-phone::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transform: translateY(-50%);
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: inherit;
}

.header-top-phone:hover {
  color: var(--pink-500);
}

.header-top-phone:hover::before {
  background-image: url("../img/phone-dark.svg");
}

.header-top-phone:active::before {
  opacity: 0.5;
}

.user-menu-item {
  position: relative;
  margin-left: 15px;
  padding: 9px 0;
}

.user-menu-link {
  display: block;
  position: relative;
  font-weight: 600;
}

.login-item:hover .login-link,
.login-item:focus-within .login-link,
.login-link:hover {
  color: var(--pink-500);
}

.user-menu-link:focus {
  outline: none;
}

.user-menu-link:active {
  opacity: 0.5;
}

.search-link {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: inherit;
}

.search-item:hover .search-link,
.search-item:focus-within .search-link,
.search-link:hover,
.search-link:focus {
  background-image: url("../img/search-dark.svg");
}

.search-link:focus {
  outline: none;
}

.login-link {
  box-sizing: border-box;
  border-radius: 26px;
  padding-top: 9px;
  padding-right: 14px;
  padding-bottom: 7px;
  padding-left: 45px;
}

.basket-link {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.login-link::before,
.basket-link::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.login-link::before {
  left: 15px;
  width: 20px;
  height: 19px;
  background-image: url("../img/login.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain; 
}

.login-item:hover .login-link::before,
.login-item:focus-within .login-link::before,
.login-link:hover::before,
.login-link:focus::before {
  background-image: url("../img/login-dark.svg");
}

.basket-link::before {
  left: 50%;
  width: 24px;
  height: 21px;
  transform: translateY(-50%) translateX(-50%);
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.full-basket::after {
  content: attr(data-count);
  position: absolute;
  top: 0px;
  left: 20px;
  width: 16px;
  height: 16px;
  font-size: 12px;
  font-weight: 900;
  color: var(--white);
  text-align: center;
  border-radius: 50%;
  background-color: var(--pink-500);
}

.basket-item:hover .basket-link::before,
.basket-item:focus-within .basket-link::before {
  background-image: url("../img/basket-dark.svg");
}

.basket-link:hover::before,
.basket-link:focus::before {
  background-image: url("../img/basket-dark.svg");
}

.site-menu-item {
  margin-right: 30px;
}

.site-menu-item:last-of-type {
  margin-right: 0px;
}

.site-menu-link {
  position: relative;
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.site-menu-link.menu-catalog-link {
  padding: 45px 0 47px;
}

.site-menu-link:hover,
.site-menu-link:focus {
  color: var(--pink-500);
}

.site-menu-link:focus {
  outline: none;
}

.menu-catalog-item {
  position: relative;
  cursor: pointer;
  z-index: 5;
}

.menu-catalog-item:focus-within .catalog-list,
.menu-catalog-item:hover .catalog-list {
  display: flex;
}

.menu-catalog-item:hover .menu-catalog-link,
.menu-catalog-item:focus-within .menu-catalog-link {
  color: var(--pink-500);
}

.catalog-list {
  position: absolute;
  left: 0;
  top: 114px;
  width: 1160px;
  flex-wrap: wrap;
  padding: 5px 0 7px 0;
  background-color: var(--white);
  box-shadow: 0 5px 10px var(--basic-transparent-04);
  border-radius: 4px;
}

.catalog-item {
  min-width: 16.6%;
  margin-top: 15px;
}

.catalog-item:nth-child(-n+6) {
  margin-top: 5px;
}

.catalog-link {
  display: block;
  padding: 10px 20px 10px 21px;
  font-size: 15px;
  line-height: 16px;
  font-weight: 600;
}

.catalog-link:hover {
  color: var(--pink-500);
}

.search-form,
.login-form,
.in-basket {
  position: absolute;
  top: 50px;
  right: 0;
  padding: 15px 20px 15px 20px;
  background-color: var(--grey-200);
  box-shadow: 0 5px 10px var(--basic-transparent-04);
  border-radius: 4px;
  z-index: 10;
}

.login-form {
  width: 277px;
  padding: 20px 16px 22px 19px;
  box-sizing: border-box;
}

.search-item:hover .search-form,
.search-item:focus-within .search-form {
  display: flex;
}

.login-item:hover .login-form,
.login-item:focus-within .login-form {
  display: block;
}

.basket-item:hover .full-basket + .in-basket {
  display: block;
}

.form-text-field {
  outline: 0;
  padding: 15px;
  width: 100%;
  height: 44px;
  border: 1px solid var(--grey-300);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  font-family: "PFBeauSansPro", Arial, sans-serif;
  color: var(--basic);
  background-color: var(--basic-white);
}

.form-text-field::-webkit-input-placeholder,
.form-text-field::-moz-placeholder,
.form-text-field:-ms-input-placeholder,
.form-text-field::-ms-input-placeholder,
.form-text-field::placeholder {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  font-family: "PFBeauSansPro", Arial, sans-serif;
  color: var(--grey-350);
}

.login-form-row {
  margin: 0 0 20px;
}

.login-form-footer {
  display: flex;
  align-items: center;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 0;
  border: none;
  background: linear-gradient(180deg,var(--pink-300) 0,var(--pink-500) 100%);
  box-shadow: 0 2px 2px var(--pink-500-transparent-07);
  border-radius: 26px;
  cursor: pointer;
  font: inherit;
  font-family: "PFBeauSansPro", Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
}

.btn:focus {
  outline: none;
}

.btn:hover {
  background: 
    linear-gradient(0deg, var(--white-transparent-03), var(--white-transparent-03)), 
    linear-gradient(180deg, var(--pink-200) 0%, var(--pink-470) 100%);
  box-shadow: inset 0 2px 2px var(--pink-350);
}

.login-form-btn {
  width: 103px;
  height: 44px;
  margin-right: 20px;
  box-sizing: border-box;
}

.login-form-btn.btn,
.search-form-btn.btn,
.in-basket-link.btn {
  color: var(--white);
}

.login-form-help {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: 13px;
  line-height: 15px;
  text-align: left;
}

.login-form-help .restore-password, 
.login-form-help .registration {
  display: inline;
  box-shadow: inset 0 -1px var(--grey-350);
  width: max-content;
}

.login-form-help .restore-password {
  margin-bottom: 9px;
}

.search-form {
  width: 450px;
  padding: 20px 15px;
  box-sizing: border-box;
}

.search-form-btn {
  width: 103px;
  height: 44px;
  margin-left: 10px;
  box-sizing: border-box;
}

.in-basket {
  width: 539px;
  padding: 20px 19px 20px 15px;
  box-sizing: border-box;
}

.in-basket-list {
  padding-bottom: 15px;
  margin-bottom: 14px;
  border-bottom: 1px solid var(--grey-320);
  font-size: 13px;
  line-height: 16px;
}

.in-basket-link {
  width: 172px;
  height: 44px;
  margin-left: auto;
  box-sizing: border-box;
}

.in-basket-item {
  display: grid;
  grid-template-columns: 17px 37px 238px 112px 70px;
  grid-template-rows: 1fr;
  gap: 0 9px;
  grid-template-areas: "close img name price sum";
  margin-bottom: 20px;
}

.in-basket-delete {
  grid-area: close;
  justify-self: end;
  width: 11px;
  height: 11px;
  padding: 0;
  margin: 11px 0 0;
  outline: 0;
  border: none;
  background-color: transparent;
  background-image: url("../img/delete.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.in-basket-img {
  display: block;
  grid-area: img;
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

.in-basket-title {
  grid-area: name;
  text-align: left;
  padding-right: 22px;
}

.in-basket-count {
  grid-area: price;
  margin: 0;
  text-align: left;
  color: var(--basic-black);
}

.in-basket-separator {
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
  vertical-align: baseline;
}

.in-basket-price {
  color: var(--grey-320);
}

.in-basket-summ {
  grid-area: sum;
  margin: 0;
  text-align: left;
}

.in-basket-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.in-basket-total {
  margin: 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
}

.in-basket-value {
  display: inline-block;
  margin-left: 5px;
  vertical-align: baseline;
}

.main-content {
  grid-area: main;
}

.main-footer {
  grid-area: footer;
  background-color: var(--pink-100);
  padding: 15px 0 15px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.app-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.app-item {
  margin-right: 10px;
}

.app-item:last-of-type {
  margin-right: 0;
}

.app-item:first-of-type {
  margin-top: 0;
}

.app-link {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 135px;
  height: 55px;
  background-color: var(--grey-50);
  color: var(--white);
  border-radius: 4px;
  box-shadow: 0 2px 2px var(--basic-black-transparent-05);
}

.app-link:focus {
  outline: none;
}

.app-link:hover {
  box-shadow: none;
  background-color: var(--grey-70);
}

.app-link-caption {
  font-size: 12px;
  line-height: 14px;
  margin-left: 10px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.app-link-value {
  font-size: 16px;
  line-height: 18px;
  margin-left: 10px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.app-link::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.app-store::after {
  width: 22px;
  height: 27px;
  background-image: url("../img/appale.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.google-play::after {
  width: 17px;
  height: 18px;
  background-image: url("../img/google-play.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.bottom-menu-link {
  position: relative;
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--basic);
}

.bottom-menu-item {
  margin-right: 20px;
}

.bottom-menu-item:last-of-type {
  margin-right: 0;
}

.bottom-menu-link:hover,
.bottom-menu-link:focus {
  color: var(--pink-500);
}

.bottom-menu-link:focus {
  outline: none;
}

.social-link {
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid var(--green-500-transparent-06);
}

.social-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  transform: translate(-50%,-50%);
  opacity: .8;
  opacity: 0.5;
}

.social-link:hover::before,
.social-link:focus::before {
  opacity: 0.7;
}

.social-link:focus {
  outline: none;
}

.social-facebook::before {
  background-image: url("../img/facebook.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.social-vk::before {
  background-image: url("../img/vk.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.social-instagram::before {
  background-image: url("../img/instagram.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.social-twitter::before {
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.social-item {
  margin-right: 10px;
}

.social-item:last-of-type {
  margin-right: 0px;
}












